<div ng-controller="blogController">
    <div ng-repeat="blog in blogs">
        <div class="panel panel-primary">
            <div class="page-header" style="text-align: center;">
                <h1><a href="#">{{blog.title}}</a></h1>
                <div style="padding: 5px">
                    <span>作者：<a href="#">{{blog.author}}</a></span>
                    <span>{{blog.createTime | limitTo:10}}</span>
                </div>
                <div style="padding: 5px">
                    <label class="label label-success">{{blog.blogType}}</label>
                    <label class="label label-warning">{{blog.blogClassName}}</label>
                    <!--<div ng-if="'{{blog.keyWords}}'"></div>-->
                </div>
            </div>
            <div class="panel-body">
                <div class="">
                    {{blog.content}}
                </div>
                <div>
                    <a href="#" class="btn btn-primary">阅读全文</a>
                </div>
            </div>
        </div>
    </div>
</div>
