<div class="col-md-4" ng-controller="rightNavController">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <b>站内搜索</b>
        </div>
        <div class="panel-body">
            <form action="#/">
                <div class="input-group">
                    <input class="form-control" name="keyWords" type="text" placeholder="Search For...">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <b>博客分类</b>
        </div>
        <div class="panel-body">
            <div class="btn-group" ng-repeat="blogClass in blogClasses">
                <a href="#/" class="btn btn-link">
                    {{blogClass.className}}
                </a>
            </div>
        </div>
    </div>
</div>
