<div class="col-md-8">
    <ol class="breadcrumb">
        <li><a href="#/">主页</a></li>
        <li><a href="#/blogClass/list/{{blog.blogClassId}}">{{blog.blogClassName}}</a></li>
        <li class="active">{{blog.title}}</li>
    </ol>
    <div class="panel panel-primary">
        <div class="page-header" style="text-align: center;">
            <h1>{{blog.title}}</h1>
            <div style="padding: 5px">
                <span>作者：<a href="#/">{{blog.author}}</a></span>
                <span>{{blog.createTime | limitTo:10}}</span>
            </div>
            <div style="padding: 5px">
                <label class="label label-success">{{blog.blogType}}</label>
                <label class="label label-warning">{{blog.blogClassName}}</label>
                <!--<div ng-if="'{{blog.keyWords}}'"></div>-->
            </div>
        </div>
        <div class="panel-body">
            <div ng-bind-html="blog.content | trustHtml">
            </div>
        </div>
    </div>
    <div class="panel panel-primary replyList" style="padding : 10px" ng-model="replys">
        <div class="page-header">
            <h4><b style="margin-left : 5px">共有<span style="color: brown">{{replys.length}}</span>个评论</b></h4>
        </div>
        <div ng-repeat="reply in replys">
            <div class="panel panel-default">
                <div class="panel-heading reply-info">
                    <span><a href="" class="author">{{reply.owner.nickName}}</a></span>
                    <span><a href="" class="btn btn-link">回复({{reply.childs.length}})</a></span>
                    <span>{{reply.createTime | limitTo:10}}</span>
                </div>
                <div class="panel-body reply-info">
                    <span style="padding-left: 5px">{{reply.content}}</span>
                    <div ng-repeat="rc in reply.childs" style="padding-top: 5px">
                        <span><a href="" class="author">{{rc.owner.nickName}}</a> </span>
                        <span>回复</span>
                        <span><a href="" class="author">{{rc.toUser.nickName}}</a> </span>
                        <span>：{{rc.content}}</span>
                    </div>
                </div>
            </div>
        </div>
        <form id="reply-from">
            <textarea name="content" style="width:100%;height:150px;" ng-model="content"></textarea>
            <input type="hidden" value="{{blog.id}}" name="blogId"/>
            <input type="hidden" name="toUserId" value="{{blog.userId}}"/>
            <button type="button"
                    class="btn btn-primary" style="margin-top: 5px" ng-click="blogReply()">发表评论
            </button>
        </form>
    </div>
</div>
