<!DOCTYPE html>
<html lang="en">
<head>

    <script src="../js/angular.js"></script>
    <script>
        var module = angular.module('test', []);
        module.controller('ModelController', function ($scope, $http) {
            $scope.Names = ['1', '2', '3'];
            $scope.a1 = function () {
                $scope.Names.push('a');
                $apply();
            };
        });
    </script>
</head>
<body ng-app="test" ng-controller="ModelController">
<div ng-repeat="name in Names" ng-model="Names">{{name}}</div>
<button ng-click="a1();">Add</button>

</body>
</html>