<section class="content">
    <div class="box box-default">
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>标题</label>
                        <input id="title" name="title" type="text" value="{{blog.title}}" class="form-control"
                               placeholder="title..."/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>关键字(多个用逗号隔开)</label>
                        <input id="keyWords" name="keyWords" type="text" value="{{blog.keyWords}}" class="form-control" placeholder="keyWords...">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>博客类型</label>
                        <select id="blogType" name="blogType" class="form-control select2 select2-hidden-accessible">
                            <option value="原创" selected>原创</option>
                            <option value="转载">转载</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>博客分类</label>
                        <select id="blogClassId" name="blogClassId"
                                class="form-control select2 select2-hidden-accessible">
                            <option value="{{blogClass.id}}" id="blogClassName" ng-repeat="blogClass in blogClasses">{{blogClass.className}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>博客摘要</label>
                        <textarea id="abstracts" name="abstracts" value="{{blog.abstracts}}"  class="form-control"
                                  placeholder="abstracts..."></textarea>
                    </div>
                </div>
                <div id="blog-content" class="col-md-12">
                    <div class="form-group">
                        <label>博客正文</label>
                        <!--<script name="content" id="editor" type="text/plain" style="width: 100%;height: 280px">-->
                        <!--这里写你的初始化内容-->
                        <!--</script>-->
                        <ueditor config="editorConfig" ng-model="content"
                                 style="width: 100%;height: 280px;display: block">
                        </ueditor>
                        <textarea class="form-control" id="content" name="content" style="display: none;"
                                  ng-model="content">
                            <div ng-bind-html="blog.content | trustHtml"></div>
                        </textarea>
                        <button type="button" class="btn btn-primary" style="margin-top: 5px" ng-click="saveBlog()">
                            发表博客
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--&lt;!&ndash; 配置文件 &ndash;&gt;-->
<!--<script type="text/javascript" src="../../ueditor/ueditor.config.js"></script>-->
<!--&lt;!&ndash; 编辑器源码文件 &ndash;&gt;-->
<!--<script type="text/javascript" src="../../ueditor/ueditor.all.js"></script>-->
<!--<script type="text/javascript">-->
<!--var ue = UE.getEditor('editor');-->
<!--</script>-->