<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>Doubles Blogs</title>
    <meta name="keywords" content="doubles blog">
    <meta name="description" content="doubles blog">
    <link href="../../css/bootstrap.css" rel="stylesheet">
    <link href="../../css/bootstrap-theme.css" rel="stylesheet">
    <link href="../../css/common.css" rel="stylesheet">
    <link href="css/manager_css.css" rel="stylesheet">
</head>
<body ng-app="indexManager">
<div class="navbar navbar-inverse">
    <nav class="navbar-header sidebar">
        <a href="#" class="navbar-brand">Doubles Blogs的manager管理系统</a>
    </nav>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 left_nav">
            <ul class="nav nav-sidebar">
                <lable style="font-size: 20px;margin: 10px 5px 0;display: block;">博客管理</lable>
                <li class="active"><a href="#/">博客列表</a></li>
                <li><a href="#/blogInfo">发表博客</a></li>
            </ul>
        </div>
        <div class="col-md-10 right_nav" ng-view>
        </div>

    </div>
</div>
<script src="../../js/angular.js"></script>
<script src="../../js/angular-route.min.js"></script>
<script src="../../js/angular-sanitize.min.js"></script>
<script src="../../js/jquery-1.11.1.js"></script>
<script src="../../js/bootstrap.js"></script>
<script src="js/app.js"></script>
<script src="js/blogController.js"></script>
<!-- 配置文件 -->
<script type="text/javascript" src="../../ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="../../ueditor/ueditor.all.js"></script>
<script type="text/javascript">
    var ue = UE.getEditor('editor');
</script>
</body>
</html>